/* ------------------logo-------------------------- */

.logo-container {
    padding: 10px 30px;
    width: 100%;
    height: 120px;
    /* background-color: rgb(248, 241, 241); */
    /* box-shadow: inset 200px 2px 250px  black; */
    background-color: #202020;
    z-index: 11;
    /* opacity: 0.9;
    filter: alpha(opacity=90); */
  }
  
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);
  
  h6 {
    color: hsla(0, 0%, 0%, 0.9);
    font: normal 80px Varela Round, sans-serif;
    height: 140px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 15%;
    width: 100%;
    z-index: 10;
    animation: move linear 2500ms infinite;
  }
  
  @keyframes move {
    0% {
      text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
        3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
        1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 rgb(46, 75, 240),
        -3px 3px 0 rgb(46, 75, 240), -2px 2px 0 rgb(46, 75, 240),
        -1px 1px 0 rgb(46, 75, 240);
    }
    25% {
      text-shadow: -4px -4px 0 rgb(46, 75, 240),
        -3px -3px 0 rgb(46, 75, 240), -2px -2px 0 rgb(46, 75, 240),
        -1px -1px 0 rgb(46, 75, 240), 4px 4px 0 hsla(0, 100%, 50%, 1),
        3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
        1px 1px 0 hsla(0, 100%, 50%, 1);
    }
    50% {
      text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
        -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
        -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 rgb(46, 75, 240),
        3px -3px 0 rgb(46, 75, 240), 2px -2px 0 rgb(46, 75, 240),
        1px -1px 0 rgb(46, 75, 240);
    }
    75% {
      text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
        3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
        1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
        -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
        -1px -1px 0 hsla(0, 100%, 50%, 1);
    }
    100% {
      text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
        3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
        1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
        -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
        -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
  }
  
  .grow {
    transition: all 0.3s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  
  /* ----------------title------------------------ */
  /* .container-background-none{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: -3;
    background: red; */
    /* box-shadow: inset 50px 100px 600px black; */
  /* } */
  
  
  /* -------------------------------form----------------------------------------- */
  
  .container-log-form{
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
  }
  
  .label{
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 0.1rem;
  }
  
  .form-control {
    background-color:  #202020;
    border-color: transparent;
    box-shadow: inset 1px 1px 5px black;
    color:black;
    /* border-radius: 100p; */
    opacity: 0.5;
    /* border-color:  rgb(46, 75, 240); */
    
  
  }
  
  .title-container {
    margin-top: 50px;
    /* background: red; */
    height: 400px;
    color: hsla(0, 0%, 0%, 0.9);
    /* font: normal 80px Varela Round, sans-serif; */
    /* height: 40px; */
    left: 0;
    /* letter-spacing: 5px; */
    margin: 40px 0 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    font-size: 1rem;
    top: 12%;
    align-items: center;
    justify-content: center;
  }
  
  h1{
    line-height: 0.1em; 
    color: blue;
    text-transform: uppercase; 
    font-weight: 100;
    }
    p{
      line-height: 1.1em; 
      text-transform: uppercase; 
      font-weight: 300;
      color: #202020;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }
  
  
  /* ----------------carousel------------------------ */

  .carousel{
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    width: 100%;
    margin: 7px;
    text-align: center;
    align-self: auto;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 5px;
  /* padding-right: 10px;
  padding-left: 10px; */
  margin-right: auto;
  margin-left: auto;
  }

  h3{
    line-height: 1em; 
    letter-spacing: 0.1em;
    color: #ffffff;
    font-weight: 310;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

  p1{
    line-height: 0.08em; 
    text-transform: uppercase; 
    font-weight: 300;
    color:  #ffffff;
    letter-spacing: 0.1em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
    }

  /* ----------------big card------------------------ */
  .big-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .card-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    margin: 7px;
    text-align: center;
  }

  
  .Card.Img{
    align-self: auto;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .big-card{
    margin-top: 20px;
    width: 600px;
      
  }
  
  .btn {
    border: none;
    background: #202020;
    color: #ffffff !important;
    font-weight: 100;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.3s ease 0s;
    z-index: 10;
    border-spacing: 15px;
    margin: 5px;
  }
  
  .btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
  p{
    font-weight: 100;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.3s ease 0s;
    z-index: 10;
    border-spacing: 15px;
    margin: 5px;
    }

    .nav-link{
      border: none;
      background: #202020;
      color: #ffffff !important;
      font-weight: 100;
      padding: 12px;
      text-transform: uppercase;
      border-radius: 6px;
      /* display: inline-block; */
      transition: all 0.3s ease 0s;
      z-index: 10;
      border-spacing: 15px;
      margin: 5px;
    }

    .nav-link:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
      }