
    #logo{
      font-family: 'Playfair Display', serif;
      font-family: 'Playfair Display SC', serif;
      font-family: 'Abril Fatface', cursive;
      font-family: 'Vidaloka', serif;
      font-size: 8ex;
      margin-top: 0%;
      margin-bottom: 0%;
      color:rgb(255, 241, 225);
      text-shadow: 2px 2px 5px black;;
      }
      
      #secondLogo{
        font-family: 'Playfair Display', serif;
        font-family: 'Playfair Display SC', serif;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Vidaloka', serif;
        font-size: 1.5ex;
        margin-top: 0%;
        margin-bottom: 0%;
        color: red;
        font-style: italic;
        }



.container1{
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: -3;
  /* background:  */
    /* top, transparent red, faked with gradient */ 
    /* linear-gradient(
      rgba(21, 22, 24, 0.139), 
      rgba(34, 35, 37, 0.283)
    ), */
    /* bottom, image */
    /* url("../../components/images/ms-XfP1qD.gif"); */


    background: 
    linear-gradient(
      rgba(48, 49, 51, 0.45), 
      rgba(70, 70, 72, 0.45)
    ),
    url("../../components/images/pexels-photo-3159595.jpg");

  /* background-image: url("../../components/images/pexels-photo-3159595.jpg");  */
  /* background-image: url("../../components/images/ms-XfP1qD.gif"); */
  background-size: 100%;
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9;
  filter: alpha(opacity=90); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 80px 180px 900px black;

}


.container2{
  z-index: -1;
 
}


#Navbar{
  /* background-color: transparent; */
  background-color: whi;

}

.nav-link{
  color: bisque;
}


.btn{
  /* border-radius: 100px; */
  /* height: 80px;
  height: 80px; */
  background-color: transparent;
  border-color :bisque;
  box-shadow: inset 2px 2px 5px bisque;
  color: bisque;
}

.form-control{
  background-color: transparent;
  border-color : bisque;
  box-shadow: inset 2px 2px 5pxbisque;
  color: bisque;
  border-radius: 100p;
}

.text{
  color: red;
}

/* ///////////////////////////////////////////// */





